* {
    transition-duration: 0.35s;
    font-family: Comic Sans MS;
    font-size: 16px;
}
body {
    padding: 0;
    margin: 0;
}
#main {
    text-align: center;
}
#start {
    margin-top: 10px;
}
.t {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
td {
    border: 1px solid black;
    padding: 5px;
}